@{
    ViewBag.Title = "Poezii";
}
<h2>@ViewBag.Title</h2>
@foreach (var poezie in ViewBag.Poezii)
{
<div class="panel-body">
    @Html.Label("Titlu", "Titlu:")
    <br />
    <p>@poezie.Titlu</p>
    @Html.Label("Autor", "Autor:")
    <br />
    <p>@poezie.Autor</p>
    <br />
    @Html.Label("NumarStrofe", "Numar Strofe:")
    <br />
    <p>@poezie.NumarStrofe</p>
    <br />
    @Html.Label("Volum", "Nume Volum:")
    <br />
    <p>@poezie.Volum.Denumire</p>
    @using (Html.BeginForm(actionName: "Delete", controllerName: "Poezie", method: FormMethod.Post, routeValues: new { id = poezie.PoezieId }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Delete</button>
    }
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Poezie", method: FormMethod.Get, routeValues: new { id = poezie.PoezieId }))
    {
        <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Update</button>
    }
</div>
}
<br />
@Html.ActionLink("Adauga poezie", "New")